$color-button-primary: #8176AF;
$color-button-secondary: #C0B7E8;
$color-button-success: #28a745;
$color-button-warning: #ffc107;
$color-button-danger: #dc3545;
$color-button-white: white;
$color-text-default: #000000;